*{
    padding: 0px;
    margin: 0px;
}

img{
    height: 70px;
    width: 70px;
}

.box{
    width: 500px;
    min-height: 300px;
    border: 20px solid orange;
    text-align: center;
}

.box img{
    width: 150px;
}
